.idea/*
*.ipynb_checkpoints*
*checkpoint.ipynb
*.csv
*.log
*.h5
*.dat
*train_history*
*sample_epoch*
*train_sample*
10_Translator/model.png
*.data-00000-of-00001
*.index
*.ckpt
*.pth
*.pyc
*tfevents*
11_GAN/practice/training_checkpoints/checkpoint
*cityscapes*
*ex16*
*test*
*train*
*lyrics*
*ex8*
*ex17*
*ex10*
*CIFAR10*
*Transformer*.pb
*Transformer*.txt
00_PR/Transformer/1_구어체(1).xlsx
00_PR/Transformer/1_구어체(2).xlsx
00_PR/Transformer/ted_hrlr_translate_pt_en_converter.zip
00_PR/Transformer/ted_hrlr_translate_pt_en_converter/assets/en_vocab.txt
00_PR/Transformer/ted_hrlr_translate_pt_en_converter/assets/pt_vocab.txt
00_PR/Transformer/ted_hrlr_translate_pt_en_converter/saved_model.pb
*.hdf5
*.tfrecord
