.idea/*
*.ipynb_checkpoints*
*checkpoint.ipynb
*.csv
*.log
*.h5
*.dat
*train_history*
*sample_epoch*
*train_sample*
10_Translator/model.png
*.data-00000-of-00001
*.index
*.ckpt
*.pth
*.pyc
*tfevents*
11_GAN/practice/training_checkpoints/checkpoint
*cityscapes*
*ex16*
*test*
*train*
*lyrics*
*ex8*
*ex17*
*ex10*
*CIFAR10*